In [6]:
!pip install glob
!pip install pandas
!pip install requests
!pip install datetime

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob
Requirement already satisfied: pandas in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests) (1.26.7)
Collecting datetime
  Downloading DateTime-4.5-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 935 kB/s  eta 0:00:01
Requirement already satisfied: pytz in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from datetime) (2021.3)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp39-cp39-manylinux2010_x86_64.whl (255 kB)
     |████████████████████████████████| 255 kB 15.9 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from zope.interface->datetime) (58.0.4)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.5 zope.interface-5.4.0

In [4]:
import glob
import pandas as pd
from datetime import datetime

In [5]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2022-08-27 10:21:46--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2022-08-27 10:21:46 (72.5 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2022-08-27 10:21:47--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2022-08-27 10:21:47 (26.6 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2022-08-27 10:21:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2022-08-27 10:21:48 (15.7 MB/s) - ‘exchange_rates.csv’ saved [590/590]

In [16]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [7]:
columns=['Name','Market Cap (US$ Billion)']

In [17]:
def extract():
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
        
    return extracted_data

In [18]:
#Question 1 Load the file 
exc_rate = pd.read_csv('exchange_rates.csv',index_col=0)
exc_rate = exc_rate.loc['GBP',:]
print(exc_rate)

Rates    0.732398
Name: GBP, dtype: float64

In [28]:
#Question 2  Use the function extract()
extracted_data = extract()
extracted_data.head()

                               Name  Market Cap (US$ Billion)
0   Banco Bilbao Vizcaya Argentaria                    60.678
1                   Japan Post Bank                    60.525
2       The Bank of New York Mellon                    59.823
3  Shanghai Pudong Development Bank                    58.796
4           Industrial Bank (China)                    57.388

In [29]:
#Question 3 Use the function transform()
def transform(data):
    data['Market Cap (US$ Billion)'] = round(0.75 * data['Market Cap (US$ Billion)'], 3)
    data.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

transformed_data = transform(extracted_data)
transformed_data.head()

                               Name  Market Cap (GBP$ Billion)
0   Banco Bilbao Vizcaya Argentaria                     45.508
1                   Japan Post Bank                     45.394
2       The Bank of New York Mellon                     44.867
3  Shanghai Pudong Development Bank                     44.097
4           Industrial Bank (China)                     43.041

In [30]:
def load(target_file, data_to_load):
    data_to_load.to_csv(target_file, index=False)

In [31]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' 
    now = datetime.now() 
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [33]:
# Log 
log("Extract phase Started")

In [34]:
# call the function for Question 2
extracted_data = extract()
extracted_data.head()

                               Name  Market Cap (US$ Billion)
0   Banco Bilbao Vizcaya Argentaria                    60.678
1                   Japan Post Bank                    60.525
2       The Bank of New York Mellon                    59.823
3  Shanghai Pudong Development Bank                    58.796
4           Industrial Bank (China)                    57.388

In [ ]:
log("Extract phase Ended")

In [35]:
log("Transform phase Started")

In [36]:
# call the function for Question 3
transformed_data = transform(extracted_data)
transformed_data.head()

                               Name  Market Cap (GBP$ Billion)
0   Banco Bilbao Vizcaya Argentaria                     45.508
1                   Japan Post Bank                     45.394
2       The Bank of New York Mellon                     44.867
3  Shanghai Pudong Development Bank                     44.097
4           Industrial Bank (China)                     43.041

In [37]:
log("Transform phase Ended")

In [38]:
load('market_cap.csv', transformed_data)

In [39]:
log("Load phase Ended")